<%- include('./header.ejs', {path: '../'}); %>
<div class="main-container">
        <section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
            <div class="background-image-holder">
                <img alt="background" src="../img/construction-1.jpg" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7">
                        <h1>
                            <%= message%>
                        </h1>
                        <br> <br> <br> <br> <br> <br>
                    </div>
                </div>
                <!--end of row-->
                
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
</div>
<%- include('./footer.ejs', {path: '../'}); %>

        