/*! Place your custom styles here */
.img-circle {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.red {
    color: #cc0000;
}

.message-count {
    background-color: #4CAF50;
}


.pulse-button {
  background: #5a99d4;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  -webkit-animation: pulse 1.5s infinite;
}
.pulse-button:hover {
  -webkit-animation: none;
}